.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 120px 0 120px;
  align-items: flex-start;
}
.header__text {
  max-width: 60%;
}
.header__title {
  font-family: "Archivo Black", Arial, sans-serif;
  font-size: 72px;
  color: #fff;
  margin: 0 0 15px 0;
  line-height: 1.2;
}
.header__subtitle {
  font-family: "Open Sans", Arial, sans-serif;
  color: #fff;
  opacity: 0.5;
  margin: 0 0 30px;
}
.header__description {
  margin: 0 0 30px;
}

.header__links {
  display: flex;
  margin: 0 0 120px;
  gap: 30px;
}
.header__links p {
  margin: 0;
}
.header__link {
  font-family: "Open Sans", Arial, sans-serif;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  position: relative;
}
.header__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg, #4c1a97, #6d6dff);
  border-radius: 2px;
}

.header__image {
  background-image: url(../images/header-image.png);
  background-size: cover;
  background-position: center;
  width: 387px;
  height: 500px;
  object-fit: cover;
}
/* HOVER */
.header__link:hover {
  opacity: 0.5;
}
/* MEDIA QUERIES */
@media (max-width: 1023px) {
  .header {
    padding: 40px 40px 0;
  }
  .header__title {
    font-size: 58px;
    margin-bottom: 12px;
  }
  .header__subtitle {
    margin-bottom: 20px;
  }
  .header__description {
    margin-bottom: 20px;
  }
  .header__image {
    width: 216px;
    height: 280px;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 20px 20px 0;
    flex-direction: column;
  }
  .header__image {
    order: -1;
    width: 100%;
    margin-bottom: 30px;
  }
  .header__text {
    max-width: 100%;
  }
  .header__title {
    font-size: 36px;
    margin-bottom: 10px;
  }
  .header__description {
    margin-bottom: 30px;
  }
  .header__links {
    flex-direction: column;
    gap: 35px;
    margin-bottom: 70px;
  }
}
