.skills {
  display: flex;
  padding: 0 120px;
  flex-direction: column;
}
.skills__title {
  font-family: "Archivo Black", Arial, sans-serif;
  font-size: 40px;
  margin: 0 0 54px 0;
}
.skills__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  justify-items: center;
  margin-bottom: 100px;
}
.projects {
  padding: 0 120px;
}
.projects__title {
  font-family: "Archivo Black", Arial, sans-serif;
  font-size: 40px;
  margin: 0 0 50px 0;
}
.projects__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.projects__card {
  background-color: #1e1e1e;
  width: 590px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.projects__card-image {
  object-fit: cover;
  aspect-ratio: 16/9;
  background-size: cover;
}
.projects__gradient_card {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.5) 100%
  );
  aspect-ratio: 16/9;
  object-fit: cover;
  position: relative;
}
.projects__gradient_card-svg {
  position: absolute;
  left: 12px;
  bottom: 10px;
}
/* IMAGENES DE PROJECT__CARD-IMAGE*/
.projects__card-image-coffe-tripleten {
  background-image: url(../images/coffee_landpage.jpeg);
}
.projects__card-image-extra {
  background-image: url(../images/last_project.jpeg);
}
.projects__card-info {
  padding: 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.projects__card-title {
  font-weight: bold;
  font-size: 24px;
  margin: 0 0 20px 0;
}
.projects__card-description {
  margin: 0 0 30px 0;
  flex-grow: 1;
}
.projects__card-footer {
  display: flex;
  margin-top: auto;
  gap: 20px;
}
.projects__card-footer a {
  font-size: 16px;
  text-decoration: none;
  align-items: center;
  display: flex;
  gap: 10px;
}
.projects__card-link-demo {
  color: #6d6dff;
}
.projects__card-link-github {
  color: #fff;
}
/* HOVER */
.projects__card-link-demo:hover {
  opacity: 0.5;
}
.projects__card-link-github:hover {
  opacity: 0.5;
}
/* MEDIA QUERIES */
@media (max-width: 1023px) {
  .skills {
    padding: 0 40px;
  }
  .skills__title {
    margin-bottom: 44px;
  }
  .skills__list {
    margin-bottom: 83px;
  }
  .projects {
    padding: 0 40px;
  }
  .projects__title {
    margin-bottom: 30px;
  }
  .projects__card {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .skills {
    padding: 0 20px;
  }
  .skills__title {
    font-size: 28px;
    margin-bottom: 30px;
  }
  .skills__list {
    margin-bottom: 60px;
    gap: 60px;
  }
  .skills__list-svg {
    width: 30px;
    height: 30px;
  }
  .projects {
    padding: 0 20px;
  }
  .projects__title {
    font-size: 28px;
  }
  .projects__card {
    width: 100%;
  }
  .projects__card-title {
    font-size: 20px;
  }
}
